<!DOCTYPE html>
{% extends 'base/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    {% block content %}
    <main>
        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams">

        <section id="controls-wrapper">

            <div class="icon-wrapper">
                <img id="mic-btn" class="control-icon" src="{% static 'images/mic.png' %}" alt="">
            </div>

            <div class="icon-wrapper">
                <img id="vid-btn" class="control-icon" src="{% static 'images/video.png' %}" alt="">
            </div>

            <div class="icon-wrapper">
                <img id="exit-btn" class="control-icon" src="{% static 'images/exit.png' %}" alt="">
            </div>

        </section>      

        </section>
    </main>

    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.13.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"> </script>
    {% endblock content %}
</body>
</html>